@font-face {
	font-family: 'PP Fuji';
	src: url('/fonts/fuji/PPFuji-Bold.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PP Fuji';
	src: url('/fonts/fuji/PPFuji-Light.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

:root {
	--red: #ec4139;
	--white: #ffffff;
	--black: #231f20;
}

/*** begin css reset ***/

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin */
* {
	margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

body {
	/* 4. Add accessible line-height */
	line-height: 1.5;
	/* 5. Improve text rendering */
	-webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root {
	isolation: isolate;
}

/*** end css reset ***/

/*** begin app specific styles ***/

body {
	color: var(--black);
	font-family: Inter;

	a {
		text-decoration: none;
		color: var(--black);
	}
}

button {
	padding: 0;
	background: none;
	border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'PP Fuji';
}

.button {
	display: flex;
	padding: 12px 16px;
	justify-content: center;
	align-items: center;
	gap: 8px;

	border-radius: 12px;
	background: #231f20;
	color: var(--white);
}

.link {
	color: #fff;
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 145%; /* 23.2px */
	letter-spacing: -0.08px;
}

/*** end app specific styles ***/
